<style>
span.hlsearch {
	color: #aa0011;
}
div.infod {
	margin-bottom: 60px;
}
</style>
<div class='container-fluid'>
	<div ng-if='info !== null' class='alert alert-{{ infotype }}'>
		<div class='pull-right'>
			<a href='' ng-click='hideInfo()'><i class='glyphicon glyphicon-remove text-{{ infotype }}'></i></a>
		</div>
		<div class=''>
			<span>{{ info }}</span>
		</div>
	</div>
	<div paging page="curpage" page-size="pagesize" total="totpage" paging-action="changePage()" show-prev-next="true" show-first-last="true"></div>
	<div class='wrapper'>
		<div ng-repeat='person in curList' id='pinfo_{{ person.id }}' class='infod'>
			<div>
				<p><big><a href='#/cele/view/{{ person.id }}' id='name' class='searchtitle'></a></big></p>
			</div>
			<div id='content'></div>
		</div>
	</div>
	<div paging page="curpage" page-size="pagesize" total="totpage" paging-action="changePage()" show-prev-next="true" show-first-last="true"></div>
</div>
